<div class="text-bold mt-sm">
  <% if author.present? %>
    <p>From:
      <%= link_to display_nickname(author), user_path(author), class: 'mr-sm' %>
    </p>
  <% else %>
    <p class="text-blue">Anonymous</p>
  <% end %>
</div>
