<div class="container">
  <h2 class="title-lg mb-sm">New question</h2>
  <p class="mb">for <%= link_to display_nickname(@user), user_path(@user) %></p>

  <% if @question.errors.any? %>
    <div class="mt">
      <% @question.errors.full_messages.each do |message| %>
        <p class="mb-sm text-red"><%= message %></p>
      <% end %>
    </div>
  <% end %>

  <div class="mt">
    <%= render 'form', question: @question %>
  </div>

</div>
